/* $Id: corporate.css,v 0.1 2010/11/22 02:16:49 krisbulman Exp $ */


body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * fonts are commonly available on Linux systems where the MS fonts are less
   * common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif or serif)
   * hints at what type of font to use if the web browser doesn't find any
   * of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */

  font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif !important;

}

#skip-link,
#page {
  /*
   * To use a 12px font size on the page, delete the 14px declarations.
   * to use a 14px font size on the page, delete the 12px declarations.
   */

  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.5em; /* 12px x 1.5 = 18px */
}


#logo /* Wrapping link for logo */ {
}

#logo img {
}

/**
 * @file
 * Page Background Styling
 */

body.front, body.not-front {
}

#page-wrapper {
}

#page {
}

#headercontent-wrapper {
}

#header .section .HeaderRight .block{
}

#topbar-wrapper {
}

#topbar .block {
}

#topbar ul {
}

#topbar-wrapper ul.menu li {
}

#header .tb1, #header .tb2 {
}

#topbar-wrapper {
}

#navigation {
}

#navigation .section {
}

#sitecontent-wrapper {
}

#mainbottom-wrapper {
}

#bottom-wrapper {
}

#closure-wrapper {
}

#feature {
}

#feature .section {
}

.front #feature .content {
 height: 220px;
}

#preface-wrapper {
}

#main-wrapper {
}

#main {
}

#header {
}

#headercontent-wrapper-bg {
}

#headercontent-wrapper {
}

h1#site-name, div#site-name {
}

#name-and-slogan {
}

#topbar-wrapper {
}

#header .section {
}

#floater {
}

#header-site-info {
padding-top: 10px;
}

#logo {
}

#name-and-slogan {
}

#sitelogo {
}


#sitecontent{
}

#footer {
}

#footer .section {
}

.with-sidebar-footer #footer-preface-wrapper {
}

#footer-preface-wrapper {
}

#footer-content-bottom-wrapper {
}

#header {
}

#headercontent-inner {
padding-top: 0px;
}


#headercontent-wrapper .column.HeaderRight .block .content {
padding-top: 4px;
}

#headercontent-wrapper .column.HeaderRight .block-menu {
}

#search {
}

#topbar .block {
}

#topbar ul {
}

#topbar #search-box {
}

#header .column.HeaderRight {
font-size: 90%;
}

#header .column.HeaderRight .region-odd {
padding-right: 10px;
}

#header .column.HeaderRight .block {
float:right;
text-transform:uppercase;
margin-bottom: 0;
padding-left: 0.6em;
color:#6699CC;
}

#header .column.HeaderRight .block .menu {
margin-top: 8px;
}


#header p {
margin: 0;
}

#header div.block.with-block-editing div.edit {
display: none;
}

#headercontent-wrapper ul.menu li.last {
border-right:1px solid #6699CC;
}

/* block bgs */

.region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3 {
}

.region-sidebar-first .block div.content, .region-sidebar-second .block div.content, div.admin-panel .body, .comment  {
}

.region-sidebar-first .block .content, .region-sidebar-second .block .content {
}


/* site padding */

#feature .block {
}

#preface-wrapper .block {
}

#mainbottom-wrapper .block {
}

#bottomcontent-wrapper .block {
}

/* text colors */

#body {
color: #666;
}

#feature {
}

#topbar-wrapper {
}

#topbar {
}

header {
}

#navigation{
}

#preface-wrapper{
}

#bottom {
color:#FFFFFF;
}



/* Link Colors */
a:link {
color: #666;
}

a:visited {
color: #666;
}

a:hover,
a:focus {
color: #ffcc33;
}

a:active {
color: #ffcc33;
}

li a.active {
color:#ffcc33;
}

#nav .menu a:link {
color: #666;
}

#nav .menu a:visited,
#superfish .menu a:visited {
color: #666;
}

#nav .menu a:hover,
#nav .menu a:focus,
#superfish .menu a:hover,
#superfish .menu a:focus {
color: #ffcc33;
}

#nav .menu a:active,
#superfish ul.menu li.active-trail a,
#superfish ul.menu li li.active-trail a:link {
color: #ffcc33;
}

#superfish ul.menu li li.leaf a:link,
#superfish ul.menu li li a:visited {
color: #666;
}

#nav .menu  a.active  {
color: #ffcc33;
}

.HeaderRight .menu a:link {
color: #6699cc
}

.HeaderRight a:visited {
color: #6699cc
}

.HeaderRight a:hover,
.HeaderRight a:focus {
color: #6699cc;
text-decoration: underline;
}

.HeaderRight a:active {
color: #6699cc
}

.HeaderRight li  a.active,  {
color: #6699cc
}

#bottom a:hover,
#bottom a:focus {
text-decoration: underline;
}

#content-area a,
#content-top-wrapper a,
#content-bottom-wrapper a {
text-decoration: underline;
color: #6699cc;
font-weight: bold;
}

#content-area .largeiconmenu a{
text-decoration: none;
color: #999;
font-weight: normal;
}


.sidebar a {
color: #999;
}

.sidebar a:hover,
.sidebar a:focus,
#content-area .largeiconmenu a:hover,
#content-area .largeiconmenu a:focus {
color: #ffcc33;
}

#feature a {
text-decoration: underline;
}

.sidebar .smalliconmenu a {
text-transform:uppercase;
}

#bottom a:link {
color: #ccc;
}

#bottom a:visited {
color: #ccc;
}

#bottom a:hover,
#bottom a:focus {
color: #ccc;
}

#bottom a:active {
color: #ccc;
}

#bottom li  a.active,  {
color: #ccc;
}

#bottom
{
  font-size: 15px;
}


/* block bgs */

.region-sidebar-first .block h2.title, .region-sidebar-second .block h2.title, div.admin-panel h3 {
background: transparent none repeat scroll 0 0;
border: 0;
}

.region-sidebar-first .block div.content, .region-sidebar-second .block div.content {
background-color:transparent;
border-color:#efefef #E8E8E9 #E8E8E9 #efefef;
border-style:solid;
border-width:0px;
}

div.admin-panel .body, .comment  {
background-color:#f4f4f4;
border-color:#efefef #E8E8E9 #E8E8E9 #efefef;
border-style:solid;
border-width:1px;
}


.region-sidebar-first .block .content, .region-sidebar-second .block .content {
margin:0;
padding:2px 15px;
}


.spotlight {
background: url(../images/duracloud-spotlight.png) no-repeat top left;
width: 170px;
height: 25px;
border-bottom: 1px solid #000;
margin-bottom: 0.5em;
}

.view-Spotlight p{
margin: 0;
}

.view-Spotlight .views-field-title, 
.view-Spotlight .views-field-view-node a {
font-weight: bold;
color: #666;
}

.view-Spotlight .views-field-view-node {
padding-right: 12px;
background: url(../images/bullet-expand.png) no-repeat right center;
float: right;
}

.view-Spotlight .views-field-title a,
.view-Spotlight .views-field-title a:link,
.view-Spotlight .views-field-title a:hover,
.view-Spotlight .views-field-title a:visited,
.view-Spotlight .views_slideshow_controls a:hover,
.view-Spotlight .views_slideshow_controls a:focus {
color: #666
}

.view-Spotlight .views_slideshow_controls {
text-transform: uppercase;
}

.view-Spotlight .views-field-title {
font-size: 1.2em;
text-align: center;
margin-bottom: 5px;

}

#block-views-Spotlight-block_1 {
background: url("../images/spotlight-bg.png") no-repeat scroll right top transparent;
padding-top: 21px;
height: 222px;
font-size: 90%;
line-height: 1.416em; 
}

.view-Spotlight .views_slideshow_next {
float: right;
margin-right: 12px;
background: url("../images/bullet-right.png") no-repeat 100% 2px transparent;
padding-right: 9px; padding-left: 10px;
}

.view-Spotlight .views_slideshow_play {
display: none;
}

.view-Spotlight .views_slideshow_previous {
background: url("../images/bullet-left.png") no-repeat 0px 2px transparent;
padding-right: 10px; padding-left: 10px;
}


.view-Spotlight .item-list {

}

.view-Spotlight .item-list .pager, .view-Spotlight .item-list .pager li{
padding: 0;
}

.view-Spotlight .item-list ul.pager {
float: left;
}

.node {
border: 0px;
}

/*
 * Front Content & Right Sidebar
 */

.front.sidebar-first #content {
  width: 420px;
  margin-left: 350px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -770px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.front  .region-sidebar-first {
  float: left; /* LTR */
  width: 350px;
  margin-left: 0; /* LTR */
  margin-right: -350px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.front .region-sidebar-second .block {
  padding: 0 16px 0 40px;
}

#content-area .largeiconmenu a {
font-weight: normal;
}

/* Large Icon Menu */

#block-menu-menu-starter .content a {
font-size: 190%;
line-height: 2.3em;
text-transform:uppercase;
}

#block-menu-menu-starter .content a {
padding-left: 55px;
}

#block-menu-menu-starter .content ul {
padding: 0;
}

#block-menu-menu-starter .content ul li {
list-style: none outside none;
background: url(../images/largemenuicon.png) no-repeat top left;
}

#block-menu-menu-starter .content ul li {
margin-left: 4em;
margin-top: 0.4em;
margin-bottom: 0.4em;
}

#block-menu-menu-starter .content ul li.first,
#block-menu-menu-starter .content ul li.last {
margin-left: 0px;
}

/* Small Icon Menu */

.smalliconmenu a {
font-size: 115%;
line-height: 1.9em;
}

.smalliconmenu a {
padding-left: 0px;
}

.smalliconmenu ul {
padding: 0px;
list-style:none; 
list-style-image:none;
}

.smalliconmenu ul li {
list-style: none;
background: url(../images/smallmenuicon.png) no-repeat 0 0;
padding: 0 0 0px 30px;
margin: 2em 0;
list-style:none; 
list-style-image:none;
}

/* thumbnails */

.thumbwithcaption {
margin:0px auto;
width:240px;
text-align:left;
border:0px solid #000;
padding:1px;
color: #ccc;
}

.thumbwithcaption img {
float:left;
margin: 5px 5px 5px 0;
display:inline;
border:1px solid #999;
}

.thumbwithcaption ul{
font-size:75%;
font-style:italic;
margin:0;
padding:0;
list-style:none;
}

.thumbwithcaption ul li{
margin:1em 0
}

.thumbwithcaption ul{
overflow:auto;/* this is the key for good browsers*/
}

/* mac hide - this is for ie6 and less \*/
* html .thumbwithcaption ul {
height:1%
}
/* end hide*/

#nav .menu li.AboutDuraCloud a, #nav .menu li.AboutDuraCloud a:visited, #superfish .menu li.AboutDuraCloud a, #superfish .menu li.AboutDuraCloud a:visited {
padding-left: 0px;
}

#nav .menu li.AboutDuraCloud li a, #nav .menu li.AboutDuraCloud li a:visited, #superfish .menu li.AboutDuraCloud li a, #superfish .menu li.AboutDuraCloud li a:visited {
padding-left: 10px;
}

#superfish li li a{
font-weight: normal;
}

#superfish ul.menu li.AboutDuraCloud,
#superfish ul.menu li.WhyUseDuraCloud {
background-image: url(../images/menu-spacer.png);
background-position: right top;
background-repeat: no-repeat;
}

.ckeditor-processed a{
color: #6699cc !important;
text-decoration: underline;
font-size: 90%;
}

/* Mini panels accordian styling, some styles are adopted from the jquery themeroller theme lightness-ui */

.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; line-height: 1.4em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header a { background: url(../images/ui-icon-collapsed_888888_16x16.png)  no-repeat 7px 7px; }
.ui-accordion .ui-accordion-header a:hover { background: url(../images/ui-icon-collapsed_222222_16x16.png)  no-repeat 6px 6px; }
.ui-accordion .ui-accordion-header.selected a { background: url(../images/ui-icon-expanded_222222_16x16.png)  no-repeat 7px 7px; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }
.ui-accordion .ui-accordion-header {
background:#E6E6E6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%;
border:1px solid #D3D3D3;
color:#555555;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.ui-accordion .ui-accordion-header:focus, .ui-accordion .ui-accordion-header:hover {
background:#DADADA url(../images/ui-bg_glass_75_dadada_1x400.png) repeat-x scroll 50% 50%;
border:1px solid #999999;
color:#212121;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

.ui-accordion .ui-accordion-header.selected {
background:#FFFFFF url(../images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50%;
border-color: #AAAAAA #AAAAAA #FFFFFF #AAAAAA;
border-width: 1px; 
border-style: solid;
color:#212121;
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
border-bottom-right-radius: 0px;
}

.ui-accordion .panel-pane .pane-content {
background: transparent;
border-color: #FFFFFF #AAAAAA #AAAAAA #AAAAAA;
border-width: 1px; 
border-style: solid;
border-top: 0px;
-moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-moz-border-radius-topright: 0px;
-webkit-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
}

.panel-pane .pane-content p {
margin-top: 0px;
padding:0.5em 0.5em 0em 2.2em;
}

.ui-accordion .pane-title {
margin-bottom: 0px;
}

.block .view-NewsEventsAggregation .views-row {
margin: 0em 0 1.3em 0em;
}

#block-menu-menu-spotlights li {
margin: 0em 0 1.3em 0em;
}

.block .view-NewsEventsAggregation .view-content {
margin-top: 0.8em;
}

.book-navigation .page-previous {
    display: inline;
    float: none;
    text-align: right;
    width: 50px;
}

.book-navigation .page-next {
    display: inline;
    float: none;
    text-align: right;
    width: 50px;
}

.book-navigation .page-links {
    border-bottom: 0px;
    border-top: 0px;
    padding: 0em;
    text-align: right;
}

.tourimg {
text-align: center;
}

.t {
background: url(../images/tourf-t.png) 0 0 repeat-x; width: 100%;
}

.b {
background: url(../images/tourf-b.png) 0 100% repeat-x;
}

.l {
background: url(../images/tourf-l.png) 0 0 repeat-y;
}

.r {
background: url(../images/tourf-r.png) 100% 0 repeat-y;
}

.bl {
background: url(../images/tourf-bl.png) 0 100% no-repeat;
}

.br {
background: url(../images/tourf-br.png) 100% 100% no-repeat;
}

.tl {
background: url(../images/tourf-tl.png) 0 0 no-repeat;
}

.tr {
background: url(../images/tourf-tr.png) 100% 0 no-repeat; padding: 6px 5px 5px 5px;
}

#node-71 #book-navigation-70 .page-previous {
display: none;
}

.tourheight {
height: 500px;
}

.tourcontentimg {
padding: 0px;
}

.tourcontentinner {
padding: 15px 15px 0px 15px;

}

.tourcontentnav {
padding: 5px 5px 15px 5px;
}

.dctourlogo {
background:  url(../images/dctourlogo.png)  bottom right no-repeat;
}

.node-type-tour p {
margin: 0.5em 0;
}

.node-type-tour #content-area .book-navigation .page-links a:link,
.node-type-tour #content-area .book-navigation .page-links a:visited,
.node-type-tour #content-area .book-navigation .page-links a
{
color: #c2c2c2;
text-decoration: none;
margin: 0 0.25em;
}

.node-type-tour #content-area .book-navigation .page-previous {
background:  url(../images/tinymenuicon.png);
background-repeat: no-repeat;
background-position: 100% -2em;
padding-right: 1.2em;
}

.node-type-tour #content-area .book-navigation .page-next {
background:  url(../images/tinymenuicon.png);
background-repeat: no-repeat;
background-position: 0 0;
padding-left: 1.5em;
}


.node-type-tour #content-area .book-navigation .page-links a:hover {
color: #ffcc33;
}



#block-menu-menu-take-a-tour  ul{
margin: 0;
padding-left: 0;
}

#block-menu-menu-take-a-tour  ul li{
margin: 0;
padding-left: 0;
}

#block-menu-menu-take-a-tour  ul li ul{
margin: 0;
}


#block-menu-menu-take-a-tour  ul li{
margin-bottom: 1em;
}

#block-menu-menu-take-a-tour  ul li li{
 margin: 0.25em 0 0.25em 2em;
}

#block-menu-menu-take-a-tour  ul.menu li{
 list-style-type: none;
  list-style-image: none;
}

#block-menu-menu-take-a-tour  ul li a{
padding: 3px 0 3px 23px;
font-size: 1.1em;
color: #666666;
}

#block-menu-menu-take-a-tour  ul li a:hover{
color: #ffcc33;
}

#block-menu-menu-take-a-tour  ul li li{
font-size: 0.9em;
}

#block-menu-menu-take-a-tour  ul li li a{
padding-left: 20px;
}

#block-menu-menu-take-a-tour  ul li a.active{
background:  url(../images/smallermenuicon.png)  0 0.02em no-repeat;
}

#block-menu-menu-take-a-tour  ul li li a.active{
background:  url(../images/tinymenuicon.png) 0 0.22em no-repeat;
}

#block-menu-menu-take-a-tour div.content {
padding-left: 0px;
}

#block-menu-menu-take-a-tour h2.title {
margin-left: 1.5em;
margin-bottom: 0.5em;
padding-left: 0px;
}

#bottomcontent-wrapper.in4 .BottomFirst .block{
    	padding-right: 25px;
}

#bottomcontent-wrapper.in4 .BottomSecond .block{
	padding-left: 10px;
}

#bottomcontent-wrapper.in4 .BottomThird .block{
    padding-left: 20px;
}

#bottomcontent-wrapper.in4 .BottomFourth .block{
    padding-left: 5px;
}

#bottomcontent-wrapper .block {
    padding-left: 15px;
    padding-right: 15px;
}

#block-menu-menu-starter .content {
margin-left: 18px;
}

.front .region-sidebar-first .section {
margin-top: 0;
}

#node-81 .slideshow{
display: none;
}

.front #feature {
height: 225px;
overflow: hidden;
}

.front .frontmediaplayer,
.front .swftools {
/* background: url(../images/horiz_yellowbox.jpg) no-repeat top right transparent; */
}

.front .frontmediaplayer,
.front .swftools {
padding-left: 20px;
}

.front #content .section,
.front #content .node {
    margin-top: 0px;
}

.front #content .title {
    display: none;
}
